*{
	margin: 0;
	padding: 0;
}
html,body{
    min-width: 320px;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    -moz-user-select: none;
}
body{
	font-family: "Hiragino Sans GB","microsoft yahei","WenQuanYi Micro Hei",sans-serif!important;
}
a{
	border: none;
	outline: none;
	text-decoration: none;
}
img{
	border: none;
	display: block;
	width: 100%;
}

